@import "./variables.scss";

.none {
    display: none;
}

.btn {
    border-radius: 100px;
    outline: none !important;
    text-transform: uppercase !important;
    border: none !important;
}

.disabled {
}

.input {
    border-radius: 100px;
    outline: none !important;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
    border-radius: 100px;

}

.input::placeholder {
    color: rgba(0, 0, 0, 0.2); 
}
