// @import './variables.scss';
@import './components.scss';
@import './flex.scss';
@import './typograph.scss';

@function pow($base, $exp) {
    $res: 1;
    @for $i from 1 through $exp {
        $res: $res * $base;
    }
    @return $res;
}

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 1 through 10 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px;
        }
    }
}

@for $i from 1 through 500 {
    .h-#{$i} {
        height: 2 * $i + px;
    }
    .w-#{$i} {
        width: 2 * $i + px;
    }
    .pa-#{$i} {
        padding: 2 * $i + px;
    }
    .ph-#{$i} {
        padding-left: 2 * $i + px;
        padding-right: 2 * $i + px;
    }
    .ma-#{$i} {
        margin: 2 * $i + px;
    }
    .mt-#{$i} {
        margin-top: 2 * $i + px;
    }
    .ml-#{$i} {
        margin-left: 2 * $i + px;
    }
    .mb-#{$i} {
        margin-bottom: 2 * $i + px;
    }
    .mr-#{$i} {
        margin-right: 2 * $i + px;
    }
    .pl-#{$i} {
        padding-left: 2 * $i + px;
    }
    .pr-#{$i} {
        padding-right: 2 * $i + px;
    }
    .pt-#{$i} {
        padding-top: 2 * $i + px;
    }
    .pd-#{$i} {
        padding-bottom: 2 * $i + px;
    }
}

body {
    margin: 0;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}


// ЭНЭ CSS ЯМАР УЧИРТАЙГ САЙН СУДЛАХ
* {
    box-sizing: border-box;
}

